*.gz
*.xz
*~
m4
src/*.exe
src/*.o
src/*.lo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.log
config.status
configure
debian/Makefile
libtool
po/Makefile
po/Makefile.in
po/ca.gmo
po/ca.po~
po/de.gmo
po/de.po~
po/epanetl.pot
po/es.gmo
po/es.po~
po/pl.gmo
po/pl.po~
po/remove-potcdate.sed
po/stamp-po
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/epanetl
src/libepanetl.la
stamp-h1
